{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest/globals": true,
    "jest": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "eslint-config-prettier",
    "plugin:cypress/recommended"
  ],
  "globals": {
    "React": "readonly"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["unused-imports", "react", "jest", "cypress"],
  "rules": {
    "no-unused-vars": "off",
    "jest/expect-expect": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "react/display-name": "off",
    "react/prop-types": 0
  }
}
