# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock


# production
/build
coverage
build.zip

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
